{{#withSort categories}}
  <section id="{{category}}">
    <h2 class="page-header">{{ titleize category }}</h2>
    {{#withSort pages "data.title"}}
      {{#unless data.notATest}}
        <article id="{{ basename }}"
          class="test-fixture"
          data-tags="{{ data.tags }}"
          data-visuals="{{ relative ../../../page.dest this.dest }}">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a class="test-link" href="{{ relative ../../../page.dest this.dest }}">
                  {{#if data.title}}
                    {{ data.title }}
                  {{else}}
                    <span style="color:red">Please add a title for this test</span>
                  {{/if}}
                </a>
                <span class="pull-right">
                  {{#withSort data.tags}}
                    <span class="label label-primary tag">{{.}}</span>
                  {{/withSort}}
                </span>
              </h3>
            </div>
            <div class="panel-body">
              {{#if data.description}}
                <p>{{ data.description }}</p>
              {{/if}}
              <p class="loading-message small">
                <span class="glyphicon glyphicon-refresh loading-spin"></span> Loading test preview...
              </p>
              <iframe src="about:blank" scrolling="no"></iframe>
            </div>
          </div>
        </article>
      {{/unless}}
    {{/withSort}}
  </section>
{{/withSort}}
