<div id="chart" width="100%" height "300px"> </div>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{default title 'd3fc'}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/d3fc/{{ package.version }}/d3fc.min.css" rel="stylesheet" />
</head>

<body>
    <div id="chart" width="100%" height="300px"></div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/{{ slice package.dependencies.d3 1 }}/d3.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/css-layout/{{ slice package.dependencies.css-layout 1 }}/css-layout.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3fc/{{ package.version }}/d3fc.bundle.min.js"></script>
    <script data-src="{{example-script}}">
        function createFixture(elementId, desiredWidth, desiredHeight, numPoints, filter) {
            var dataGenerator = fc.data.random.financial()
                .startDate(new Date(2014, 1, 1));

            if (filter) {
                dataGenerator.filter(filter);
            }

            var data = dataGenerator(numPoints || 50);

            var width = desiredWidth || 600,
                height = desiredHeight || 250;

            var container = d3.select(elementId)
                .insert('svg', 'div')
                .attr('width', width)
                .attr('height', height);

            // Create scale for x axis
            var dateScale = fc.scale.dateTime()
                .domain(fc.util.extent()(data, 'date'))
                .range([0, width]);

            // Create scale for y axis
            var priceScale = d3.scale.linear()
                .domain(fc.util.extent()(data, ['high', 'low']))
                .range([height, 0])
                .nice();

            return {
                data: data,
                dimensions: {
                    width: width,
                    height: height
                },
                xScale: dateScale,
                yScale: priceScale,
                container: container
            }
        }

        (function() {
            var desiredWidth = document.getElementById('chart').getBoundingClientRect().width,
                desiredHeight = document.getElementById('chart').getBoundingClientRect().height;

            var f = createFixture('#chart', desiredWidth, desiredHeight, null, function() {
                return true;
            });
            var container = f.container,
                data = f.data,
                xScale = f.xScale,
                yScale = f.yScale,
                height = f.dimensions.height,
                width = f.dimensions.width;

            {{{example-code}}}
        }());
    </script>
</body>

</html>
