<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{default title 'd3fc'}}</title>
    <link href="../d3fc.css" rel="stylesheet" />
    <!-- https://cdnjs.cloudflare.com/ajax/libs/d3fc/{{ package.version }}/d3fc.min.css -->
</head>
<body>
{{{example-body}}}

    <script src="../d3fc.bundle.js"></script>
    <!-- https://cdnjs.cloudflare.com/ajax/libs/d3fc/{{ package.version }}/d3fc.bundle.min.js -->

    <script data-src="{{basename}}.js">
{{{example-code}}}
    </script>
</body>
</html>
