<div class="codepen-link">
  <form action="https://codepen.io/pen/define" method="POST" target="_blank">
    <input type="text" name="data" hidden="true"
      value='{
        "html":"{{ escape html}}",
        "js": "{{{ escape js }}}",
        "css": "{{ escape chart-css }}{{#if css}}{{{ escape css }}}{{/if}}",
        "js_external": "https://code.jquery.com/jquery-3.1.1.slim.min.js;https://d3js.org/d3.v4.js;https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.18.0/d3-legend.js;{{baseurl}}/lib/d3fc.min.js"
      }'/>
    <input type="submit" class="btn btn-default" value="Codepen"/>
  </form>
</div>
