---
layout: default
---
<div class="container component">
  <div class="row">

    <div class="col-sm-9 col-xs-12">
      <h1>
        {{title}}
        {{#if component}}
        <a href="{{package.repository.url}}/blob/master/src/{{component}}">View source on GitHub</a>
        {{/if}}
      </h1>
      {{{body}}}
    </div>

    <nav class="col-sm-3 hidden-xs">
      <ul class="nav nav-stacked fixed nav-sidebar">
         <li>
          <h4>Introduction</h4>
          <ul class="nav nav-stacked">
              <li class="">
                <a href="/components/introduction/1-getting-started.html">
                  Getting Started
                </a>
              </li>
              <li class="">
                <a href="/components/introduction/2-decorate-pattern.html">
                  Decorate Pattern
                </a>
              </li>
              <li class="">
                <a href="/components/introduction/3-transitions.html">
                  Transitions
                </a>
              </li>
              <li class="">
                <a href="/components/introduction/4-component-design.html">
                  Component Design
                </a>
              </li>
          </ul>
        </li>
        {{#group pages by="data.namespace"}}
          {{#if value}}
            <li>
              <h4>{{value}}</h4>
              <ul class="nav nav-stacked">
                {{#each items}}
                  <li class="{{#if isCurrentPage}}active{{/if}}">
                    <a href="{{data.page.destination}}">
                      {{data.title}}
                    </a>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/if}}
        {{/group}}
      </ul>
    </nav>

  </div>
</div>
