---
layout: default
---
<div class="container component">

  <div class="row">

    <div class="col-sm-9 col-xs-12">
      <h1>
        {{title}}
        <a href="{{package.repository.url}}/blob/master/src/{{component}}">View source on GitHub</a>
      </h1>
      {{#markdown }}
        {{> body  }}
      {{/markdown }}
    </div>

    <nav class="col-sm-3 hidden-xs">
      <ul id="sidebar" class="nav nav-stacked fixed">
        {{#each _config.component-ids}}
          <li>
            {{#each ../_config.components}}
              {{#is @key ../this}}
                <h4>{{name}}</h4>
              {{/is}}
            {{/each}}
            <ul class="nav nav-stacked">
              {{#each ../pages}}
                {{#is data.namespace ../this}}
                    <li class="{{#if this.isCurrentPage}}active{{/if}}">
                      <a href="{{this.relativeLink}}">
                        {{data.title}}
                      </a>
                    </li>
                {{/is}}
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </nav>

  </div>

</div>
