<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>d3fc</title>

    <script src="{{assets}}/scripts.js"></script>

    <link rel="stylesheet" href="{{assets}}/styles.css" />
  </head>
  <body>

    <!-- Page layout based on sticky footer example http://getbootstrap.com/2.3.2/examples/sticky-footer.html -->
    <nav class="navbar navbar-inverse">
      <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{assets}}/"><img src="{{assets}}/images/Logo-02.png" /></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="{{#is layout 'component'}}active{{/is}}"><a href="{{assets}}/components">COMPONENTS</a></li>
              <li class="{{#is layout 'example'}}active{{/is}}"><a href="{{assets}}/examples">EXAMPLE</a></li>
            </ul>
          </div>
      </div>
    </nav>

    <div id="wrap">
      <div class="container main-content">
        {{> body}}
      </div>
    </div>

    <div id="push"></div>

    <div id="footer">
      <div class="container">
        <p class="muted credit text-center">Project supported by <a href="http://www.scottlogic.com">Scott Logic</a></p>
      </div>
    </div>

    <script type="text/javascript" src="/site/src/lib/bootstrap.min.js"></script>

    <script type="text/javascript">
    $('body').scrollspy({
      target: '.bs-docs-sidebar',
      offset: 40
    });
    </script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>
